#dark{
  background-color: rgb(59, 59, 60);
}

#dark .main{
  background-color: rgb(79, 78, 78);
  border: 2px solid rgb(255, 255, 255);
}
#dark .switch label{
  color: white;
}
#dark .sign{
  color: whitesmoke;
}
#dark .submit {
  background-color: rgb(30, 29, 29);
  color:  wheat;
  border-radius: 9px;
}